*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    
}
.navbar{
    padding-left: 2vw;
    padding-right: 4vw;
    padding-top: 1%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.img-logo{
    width: 14%;
    color: #e50914;
}
.singinandeng{
    display: flex;

}
.english{
    display: flex;

}
#signin{
    margin-top: 0.25rem;
}

.container{
    display: flex;
    
}








